.elementor-10 .elementor-element.elementor-element-8c4b182{
    margin-top:-60px;
    margin-bottom:-60px;
    padding:0px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-47fe872d > .elementor-container{
    max-width:1140px;
}
.elementor-10 .elementor-element.elementor-element-47fe872d{
    padding:73px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-51c7912f > .elementor-element-populated{
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-71528b8a > .elementor-container{
    max-width:1140px;
}
.elementor-10 .elementor-element.elementor-element-71528b8a{
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-10 .elementor-element.elementor-element-71528b8a > .elementor-background-overlay{
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-10 .elementor-element.elementor-element-338437b8:not(.elementor-motion-effects-element-type-background) > .elementor-element-populated, .elementor-10 .elementor-element.elementor-element-338437b8 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-color:#ef456a;
}
.elementor-10 .elementor-element.elementor-element-338437b8 > .elementor-element-populated{
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin:20px 20px 20px 20px;
}
.elementor-10 .elementor-element.elementor-element-338437b8 > .elementor-element-populated > .elementor-background-overlay{
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-10 .elementor-element.elementor-element-5cef6917{
    text-align:center;
}
.elementor-10 .elementor-element.elementor-element-5cef6917 .elementor-image img{
    max-width:100%;
    opacity:1;
}
.elementor-10 .elementor-element.elementor-element-5cef6917 > .elementor-widget-container{
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-3c5a5d4e{
    text-align:center;
}
.elementor-10 .elementor-element.elementor-element-3c5a5d4e.elementor-widget-heading .elementor-heading-title{
    color:#ffffff;
}
.elementor-10 .elementor-element.elementor-element-3c5a5d4e .elementor-heading-title{
    font-family:"Montserrat", Sans-serif;
    font-size:21px;
    font-weight:bold;
    letter-spacing:2px;
    text-shadow:0px 0px 10px rgba(0,0,0,0.3);
}
.elementor-10 .elementor-element.elementor-element-3c5a5d4e > .elementor-widget-container{
    padding:15px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-6726be63 .elementor-divider-separator{
    border-top-style:solid;
    border-top-width:5px;
    border-top-color:#ffffff;
    width:13%;
}
.elementor-10 .elementor-element.elementor-element-6726be63 .elementor-divider{
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
}
.elementor-10 .elementor-element.elementor-element-7de9fe1d:not(.elementor-motion-effects-element-type-background) > .elementor-element-populated, .elementor-10 .elementor-element.elementor-element-7de9fe1d > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-color:#01b3bc;
}
.elementor-10 .elementor-element.elementor-element-7de9fe1d > .elementor-element-populated{
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin:20px 20px 20px 20px;
}
.elementor-10 .elementor-element.elementor-element-7de9fe1d > .elementor-element-populated > .elementor-background-overlay{
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-10 .elementor-element.elementor-element-19fdd31c{
    text-align:center;
}
.elementor-10 .elementor-element.elementor-element-19fdd31c .elementor-image img{
    max-width:100%;
    opacity:1;
}
.elementor-10 .elementor-element.elementor-element-19fdd31c > .elementor-widget-container{
    margin:0px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-57acd781{
    text-align:center;
}
.elementor-10 .elementor-element.elementor-element-57acd781.elementor-widget-heading .elementor-heading-title{
    color:#ffffff;
}
.elementor-10 .elementor-element.elementor-element-57acd781 .elementor-heading-title{
    font-family:"Montserrat", Sans-serif;
    font-size:21px;
    font-weight:bold;
    letter-spacing:2px;
}
.elementor-10 .elementor-element.elementor-element-57acd781 > .elementor-widget-container{
    padding:15px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-7e793c0b .elementor-divider-separator{
    border-top-style:solid;
    border-top-width:5px;
    border-top-color:#ffffff;
    width:13%;
}
.elementor-10 .elementor-element.elementor-element-7e793c0b .elementor-divider{
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
}
.elementor-10 .elementor-element.elementor-element-41cf7ae4:not(.elementor-motion-effects-element-type-background) > .elementor-element-populated, .elementor-10 .elementor-element.elementor-element-41cf7ae4 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-color:#0170b5;
}
.elementor-10 .elementor-element.elementor-element-41cf7ae4 > .elementor-element-populated{
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin:20px 20px 20px 20px;
}
.elementor-10 .elementor-element.elementor-element-41cf7ae4 > .elementor-element-populated > .elementor-background-overlay{
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-10 .elementor-element.elementor-element-6d20db9e{
    text-align:center;
}
.elementor-10 .elementor-element.elementor-element-6d20db9e .elementor-image img{
    max-width:100%;
    opacity:1;
}
.elementor-10 .elementor-element.elementor-element-7f546701{
    text-align:center;
}
.elementor-10 .elementor-element.elementor-element-7f546701.elementor-widget-heading .elementor-heading-title{
    color:#ffffff;
}
.elementor-10 .elementor-element.elementor-element-7f546701 .elementor-heading-title{
    font-family:"Montserrat", Sans-serif;
    font-size:21px;
    font-weight:bold;
    letter-spacing:2px;
}
.elementor-10 .elementor-element.elementor-element-7f546701 > .elementor-widget-container{
    padding:15px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-227c31a3 .elementor-divider-separator{
    border-top-style:solid;
    border-top-width:5px;
    border-top-color:#ffffff;
    width:13%;
}
.elementor-10 .elementor-element.elementor-element-227c31a3 .elementor-divider{
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
}
.elementor-10 .elementor-element.elementor-element-8d004a8{
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-10 .elementor-element.elementor-element-8d004a8 > .elementor-background-overlay{
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-10 .elementor-element.elementor-element-b060359:not(.elementor-motion-effects-element-type-background) > .elementor-element-populated, .elementor-10 .elementor-element.elementor-element-b060359 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-color:#ffc30b;
}
.elementor-10 .elementor-element.elementor-element-b060359 > .elementor-element-populated{
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-10 .elementor-element.elementor-element-b060359 > .elementor-element-populated > .elementor-background-overlay{
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-10 .elementor-element.elementor-element-5c7c1ec{
    text-align:center;
}
.elementor-10 .elementor-element.elementor-element-5c7c1ec.elementor-widget-heading .elementor-heading-title{
    color:#ffffff;
}
.elementor-10 .elementor-element.elementor-element-5c7c1ec .elementor-heading-title{
    font-family:"Montserrat", Sans-serif;
    font-size:18px;
    font-weight:bold;
}
.elementor-10 .elementor-element.elementor-element-ffb1127:hover > .elementor-element-populated{
    background-color:#ffc30b;
}
.elementor-10 .elementor-element.elementor-element-5ed2255{
    text-align:center;
}
.elementor-10 .elementor-element.elementor-element-5ed2255.elementor-widget-heading .elementor-heading-title{
    color:#0170b5;
}
.elementor-10 .elementor-element.elementor-element-5ed2255 .elementor-heading-title{
    font-family:"Montserrat", Sans-serif;
    font-size:14px;
    font-weight:normal;
}
.elementor-10 .elementor-element.elementor-element-5ed2255 > .elementor-widget-container{
    padding:0px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-5b5a2b0:hover > .elementor-element-populated{
    background-color:#ffc30b;
}
.elementor-10 .elementor-element.elementor-element-ac0c9bd{
    text-align:center;
}
.elementor-10 .elementor-element.elementor-element-ac0c9bd.elementor-widget-heading .elementor-heading-title{
    color:#0170b5;
}
.elementor-10 .elementor-element.elementor-element-ac0c9bd .elementor-heading-title{
    font-family:"Montserrat", Sans-serif;
    font-size:14px;
    font-weight:normal;
}
.elementor-10 .elementor-element.elementor-element-ac0c9bd > .elementor-widget-container{
    padding:0px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-c27e058:hover > .elementor-element-populated{
    background-color:#ffc30b;
}
.elementor-10 .elementor-element.elementor-element-ab900a1{
    text-align:center;
}
.elementor-10 .elementor-element.elementor-element-ab900a1.elementor-widget-heading .elementor-heading-title{
    color:#0170b5;
}
.elementor-10 .elementor-element.elementor-element-ab900a1 .elementor-heading-title{
    font-family:"Montserrat", Sans-serif;
    font-size:14px;
    font-weight:normal;
}
.elementor-10 .elementor-element.elementor-element-ab900a1 > .elementor-widget-container{
    padding:0px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-16d963c:hover > .elementor-element-populated{
    background-color:#ffc30b;
}
.elementor-10 .elementor-element.elementor-element-aad704b{
    text-align:center;
}
.elementor-10 .elementor-element.elementor-element-aad704b.elementor-widget-heading .elementor-heading-title{
    color:#0170b5;
}
.elementor-10 .elementor-element.elementor-element-aad704b .elementor-heading-title{
    font-family:"Montserrat", Sans-serif;
    font-size:14px;
    font-weight:normal;
}
.elementor-10 .elementor-element.elementor-element-aad704b > .elementor-widget-container{
    padding:0px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-cdf3fad:hover > .elementor-element-populated{
    background-color:#ffc30b;
}
.elementor-10 .elementor-element.elementor-element-3e0f9e2{
    text-align:center;
}
.elementor-10 .elementor-element.elementor-element-3e0f9e2.elementor-widget-heading .elementor-heading-title{
    color:#0170b5;
}
.elementor-10 .elementor-element.elementor-element-3e0f9e2 .elementor-heading-title{
    font-family:"Montserrat", Sans-serif;
    font-size:14px;
    font-weight:normal;
}
.elementor-10 .elementor-element.elementor-element-3e0f9e2 > .elementor-widget-container{
    padding:0px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-b86d872:hover > .elementor-element-populated{
    background-color:#ffc30b;
}
.elementor-10 .elementor-element.elementor-element-46baf24{
    text-align:center;
}
.elementor-10 .elementor-element.elementor-element-46baf24.elementor-widget-heading .elementor-heading-title{
    color:#0170b5;
}
.elementor-10 .elementor-element.elementor-element-46baf24 .elementor-heading-title{
    font-family:"Montserrat", Sans-serif;
    font-size:14px;
    font-weight:normal;
}
.elementor-10 .elementor-element.elementor-element-46baf24 > .elementor-widget-container{
    padding:0px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-625b7b2:hover > .elementor-element-populated{
    background-color:#ffc30b;
}
.elementor-10 .elementor-element.elementor-element-9d187f1{
    text-align:center;
}
.elementor-10 .elementor-element.elementor-element-9d187f1.elementor-widget-heading .elementor-heading-title{
    color:#0170b5;
}
.elementor-10 .elementor-element.elementor-element-9d187f1 .elementor-heading-title{
    font-family:"Montserrat", Sans-serif;
    font-size:14px;
    font-weight:normal;
}
.elementor-10 .elementor-element.elementor-element-9d187f1 > .elementor-widget-container{
    padding:0px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-0441694:hover > .elementor-element-populated{
    background-color:#ffc30b;
}
.elementor-10 .elementor-element.elementor-element-446e10e{
    text-align:center;
}
.elementor-10 .elementor-element.elementor-element-446e10e.elementor-widget-heading .elementor-heading-title{
    color:#0170b5;
}
.elementor-10 .elementor-element.elementor-element-446e10e .elementor-heading-title{
    font-family:"Montserrat", Sans-serif;
    font-size:14px;
    font-weight:normal;
}
.elementor-10 .elementor-element.elementor-element-446e10e > .elementor-widget-container{
    padding:0px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-7c1b374:hover > .elementor-element-populated{
    background-color:#ffc30b;
}
.elementor-10 .elementor-element.elementor-element-7e68208{
    text-align:center;
}
.elementor-10 .elementor-element.elementor-element-7e68208.elementor-widget-heading .elementor-heading-title{
    color:#0170b5;
}
.elementor-10 .elementor-element.elementor-element-7e68208 .elementor-heading-title{
    font-family:"Montserrat", Sans-serif;
    font-size:14px;
    font-weight:normal;
}
.elementor-10 .elementor-element.elementor-element-7e68208 > .elementor-widget-container{
    padding:0px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-452bfd6:hover > .elementor-element-populated{
    background-color:#ffc30b;
}
.elementor-10 .elementor-element.elementor-element-5d2a6f7{
    text-align:center;
}
.elementor-10 .elementor-element.elementor-element-5d2a6f7.elementor-widget-heading .elementor-heading-title{
    color:#0170b5;
}
.elementor-10 .elementor-element.elementor-element-5d2a6f7 .elementor-heading-title{
    font-family:"Montserrat", Sans-serif;
    font-size:14px;
    font-weight:normal;
}
.elementor-10 .elementor-element.elementor-element-5d2a6f7 > .elementor-widget-container{
    padding:0px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-e9bddb1{
    padding:10px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-d581f7c:not(.elementor-motion-effects-element-type-background) > .elementor-element-populated, .elementor-10 .elementor-element.elementor-element-d581f7c > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-color:#ffc30b;
}
.elementor-10 .elementor-element.elementor-element-d581f7c > .elementor-element-populated{
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-10 .elementor-element.elementor-element-d581f7c > .elementor-element-populated > .elementor-background-overlay{
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-10 .elementor-element.elementor-element-900c9e6{
    text-align:center;
}
.elementor-10 .elementor-element.elementor-element-900c9e6.elementor-widget-heading .elementor-heading-title{
    color:#ffffff;
}
.elementor-10 .elementor-element.elementor-element-900c9e6 .elementor-heading-title{
    font-family:"Montserrat", Sans-serif;
    font-size:18px;
    font-weight:bold;
}
.elementor-10 .elementor-element.elementor-element-e50c4f3:not(.elementor-motion-effects-element-type-background) > .elementor-element-populated, .elementor-10 .elementor-element.elementor-element-e50c4f3 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-color:#ffc30b;
}
.elementor-10 .elementor-element.elementor-element-e50c4f3 > .elementor-element-populated{
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-10 .elementor-element.elementor-element-e50c4f3 > .elementor-element-populated > .elementor-background-overlay{
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-10 .elementor-element.elementor-element-99a69d6{
    text-align:center;
}
.elementor-10 .elementor-element.elementor-element-99a69d6.elementor-widget-heading .elementor-heading-title{
    color:#ffffff;
}
.elementor-10 .elementor-element.elementor-element-99a69d6 .elementor-heading-title{
    font-family:"Montserrat", Sans-serif;
    font-size:18px;
    font-weight:bold;
}
.elementor-10 .elementor-element.elementor-element-0adb220 .elementor-testimonial-content{
    font-family:"Montserrat", Sans-serif;
    font-size:14px;
}
.elementor-10 .elementor-element.elementor-element-2bcdd27 .elementor-testimonial-content{
    font-family:"Montserrat", Sans-serif;
    font-size:14px;
}
.elementor-10 .elementor-element.elementor-element-d8e65f8 .elementor-testimonial-content{
    font-family:"Montserrat", Sans-serif;
    font-size:14px;
}
.elementor-10 .elementor-element.elementor-element-2f34e75{
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-10 .elementor-element.elementor-element-2f34e75 > .elementor-background-overlay{
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-10 .elementor-element.elementor-element-b2f228f:not(.elementor-motion-effects-element-type-background) > .elementor-element-populated, .elementor-10 .elementor-element.elementor-element-b2f228f > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-color:#ffc30b;
}
.elementor-10 .elementor-element.elementor-element-b2f228f > .elementor-element-populated{
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-10 .elementor-element.elementor-element-b2f228f > .elementor-element-populated > .elementor-background-overlay{
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-10 .elementor-element.elementor-element-38ac2e9{
    text-align:center;
}
.elementor-10 .elementor-element.elementor-element-38ac2e9.elementor-widget-heading .elementor-heading-title{
    color:#ffffff;
}
.elementor-10 .elementor-element.elementor-element-38ac2e9 .elementor-heading-title{
    font-family:"Montserrat", Sans-serif;
    font-size:18px;
    font-weight:bold;
}
.elementor-10 .elementor-element.elementor-element-11daf8d{
    padding:30px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-d34f06f:hover > .elementor-element-populated{
    background-color:#ef7373;
}
.elementor-10 .elementor-element.elementor-element-d34f06f > .elementor-element-populated{
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-10 .elementor-element.elementor-element-d34f06f > .elementor-element-populated > .elementor-background-overlay{
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-10 .elementor-element.elementor-element-307ec52.elementor-position-right .elementor-image-box-img{
    margin-left:15px;
}
.elementor-10 .elementor-element.elementor-element-307ec52.elementor-position-left .elementor-image-box-img{
    margin-right:15px;
}
.elementor-10 .elementor-element.elementor-element-307ec52.elementor-position-top .elementor-image-box-img{
    margin-bottom:15px;
}
.elementor-10 .elementor-element.elementor-element-307ec52 .elementor-image-box-wrapper .elementor-image-box-img{
    width:100%;
}
.elementor-10 .elementor-element.elementor-element-307ec52 .elementor-image-box-img img{
    transition-duration:0.3s;
}
.elementor-10 .elementor-element.elementor-element-307ec52 .elementor-image-box-title{
    margin-bottom:2px;
}
.elementor-10 .elementor-element.elementor-element-307ec52 .elementor-image-box-content .elementor-image-box-title{
    color:#000000;
    font-family:"Montserrat", Sans-serif;
    font-size:20px;
    font-weight:bold;
}
.elementor-10 .elementor-element.elementor-element-307ec52 .elementor-image-box-content .elementor-image-box-description{
    color:#bfbfbf;
    font-size:15px;
    font-weight:300;
    text-transform:uppercase;
    letter-spacing:3px;
}
.elementor-10 .elementor-element.elementor-element-e3a24d8:hover > .elementor-element-populated{
    background-color:#ef7373;
}
.elementor-10 .elementor-element.elementor-element-2731526.elementor-position-right .elementor-image-box-img{
    margin-left:15px;
}
.elementor-10 .elementor-element.elementor-element-2731526.elementor-position-left .elementor-image-box-img{
    margin-right:15px;
}
.elementor-10 .elementor-element.elementor-element-2731526.elementor-position-top .elementor-image-box-img{
    margin-bottom:15px;
}
.elementor-10 .elementor-element.elementor-element-2731526 .elementor-image-box-wrapper .elementor-image-box-img{
    width:100%;
}
.elementor-10 .elementor-element.elementor-element-2731526 .elementor-image-box-img img{
    transition-duration:0.3s;
}
.elementor-10 .elementor-element.elementor-element-2731526 .elementor-image-box-title{
    margin-bottom:2px;
}
.elementor-10 .elementor-element.elementor-element-2731526 .elementor-image-box-content .elementor-image-box-title{
    color:#000000;
    font-family:"Montserrat", Sans-serif;
    font-size:20px;
    font-weight:bold;
}
.elementor-10 .elementor-element.elementor-element-2731526 .elementor-image-box-content .elementor-image-box-description{
    color:#bfbfbf;
    font-size:15px;
    font-weight:300;
    text-transform:uppercase;
    letter-spacing:3px;
}
.elementor-10 .elementor-element.elementor-element-82a3514:hover > .elementor-element-populated{
    background-color:#ef7373;
}
.elementor-10 .elementor-element.elementor-element-250002b.elementor-position-right .elementor-image-box-img{
    margin-left:15px;
}
.elementor-10 .elementor-element.elementor-element-250002b.elementor-position-left .elementor-image-box-img{
    margin-right:15px;
}
.elementor-10 .elementor-element.elementor-element-250002b.elementor-position-top .elementor-image-box-img{
    margin-bottom:15px;
}
.elementor-10 .elementor-element.elementor-element-250002b .elementor-image-box-wrapper .elementor-image-box-img{
    width:100%;
}
.elementor-10 .elementor-element.elementor-element-250002b .elementor-image-box-img img{
    transition-duration:0.3s;
}
.elementor-10 .elementor-element.elementor-element-250002b .elementor-image-box-title{
    margin-bottom:2px;
}
.elementor-10 .elementor-element.elementor-element-250002b .elementor-image-box-content .elementor-image-box-title{
    color:#000000;
    font-family:"Montserrat", Sans-serif;
    font-size:20px;
    font-weight:bold;
}
.elementor-10 .elementor-element.elementor-element-250002b .elementor-image-box-content .elementor-image-box-description{
    color:#bfbfbf;
    font-size:15px;
    font-weight:300;
    text-transform:uppercase;
    letter-spacing:3px;
}
.elementor-10 .elementor-element.elementor-element-45c3660:hover > .elementor-element-populated{
    background-color:#ef7373;
}
.elementor-10 .elementor-element.elementor-element-41bba5c.elementor-position-right .elementor-image-box-img{
    margin-left:15px;
}
.elementor-10 .elementor-element.elementor-element-41bba5c.elementor-position-left .elementor-image-box-img{
    margin-right:15px;
}
.elementor-10 .elementor-element.elementor-element-41bba5c.elementor-position-top .elementor-image-box-img{
    margin-bottom:15px;
}
.elementor-10 .elementor-element.elementor-element-41bba5c .elementor-image-box-wrapper .elementor-image-box-img{
    width:100%;
}
.elementor-10 .elementor-element.elementor-element-41bba5c .elementor-image-box-img img{
    transition-duration:0.3s;
}
.elementor-10 .elementor-element.elementor-element-41bba5c .elementor-image-box-title{
    margin-bottom:2px;
}
.elementor-10 .elementor-element.elementor-element-41bba5c .elementor-image-box-content .elementor-image-box-title{
    color:#000000;
    font-family:"Montserrat", Sans-serif;
    font-size:20px;
    font-weight:bold;
}
.elementor-10 .elementor-element.elementor-element-41bba5c .elementor-image-box-content .elementor-image-box-description{
    color:#bfbfbf;
    font-size:15px;
    font-weight:300;
    text-transform:uppercase;
    letter-spacing:3px;
}
.elementor-10 .elementor-element.elementor-element-647af350 > .elementor-container{
    max-width:1140px;
}
.elementor-10 .elementor-element.elementor-element-647af350:not(.elementor-motion-effects-element-type-background), .elementor-10 .elementor-element.elementor-element-647af350 > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-color:#ffc30b;
}
.elementor-10 .elementor-element.elementor-element-647af350{
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top:30px;
    margin-bottom:0px;
    padding:20px 80px 40px 80px;
}
.elementor-10 .elementor-element.elementor-element-647af350 > .elementor-background-overlay{
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-10 .elementor-element.elementor-element-2904b937 > .elementor-element-populated, .elementor-10 .elementor-element.elementor-element-2904b937 > .elementor-element-populated > .elementor-background-overlay{
    border-radius:0px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-6266b2fd{
    text-align:center;
}
.elementor-10 .elementor-element.elementor-element-6266b2fd.elementor-widget-heading .elementor-heading-title{
    color:#ffffff;
}
.elementor-10 .elementor-element.elementor-element-6266b2fd .elementor-heading-title{
    font-family:"Montserrat", Sans-serif;
    font-size:18px;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing:2px;
}
.elementor-10 .elementor-element.elementor-element-6266b2fd > .elementor-widget-container{
    padding:0px 0px 10px 0px;
}
.elementor-10 .elementor-element.elementor-element-231eadfd .elementor-image-carousel-wrapper .slick-slider .slick-prev:before, .elementor-10 .elementor-element.elementor-element-231eadfd .elementor-image-carousel-wrapper .slick-slider .slick-next:before{
    color:rgba(255,255,255,0.32);
}
.elementor-10 .elementor-element.elementor-element-231eadfd .slick-list{
    margin-left:-80px;
}
.elementor-10 .elementor-element.elementor-element-231eadfd .slick-slide .slick-slide-inner{
    padding-left:80px;
}
.elementor-10 .elementor-element.elementor-element-8d64850{
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top:20px;
    margin-bottom:0px;
}
.elementor-10 .elementor-element.elementor-element-8d64850 > .elementor-background-overlay{
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-10 .elementor-element.elementor-element-19c4f9b:not(.elementor-motion-effects-element-type-background) > .elementor-element-populated, .elementor-10 .elementor-element.elementor-element-19c4f9b > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-color:#ffc30b;
}
.elementor-10 .elementor-element.elementor-element-19c4f9b > .elementor-element-populated{
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-10 .elementor-element.elementor-element-19c4f9b > .elementor-element-populated > .elementor-background-overlay{
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-10 .elementor-element.elementor-element-16c7538{
    text-align:center;
}
.elementor-10 .elementor-element.elementor-element-16c7538.elementor-widget-heading .elementor-heading-title{
    color:#ffffff;
}
.elementor-10 .elementor-element.elementor-element-16c7538 .elementor-heading-title{
    font-family:"Montserrat", Sans-serif;
    font-size:18px;
    font-weight:bold;
}
.elementor-10 .elementor-element.elementor-element-13736ef7{
    padding:30px 0px 10px 0px;
}
.elementor-10 .elementor-element.elementor-element-d544258 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
    margin-bottom:-11px;
}
.elementor-10 .elementor-element.elementor-element-d544258 > .elementor-element-populated{
    padding:25px 25px 25px 25px;
}
.elementor-10 .elementor-element.elementor-element-6bcb4da1.elementor-view-stacked .elementor-icon{
    background-color:#000000;
}
.elementor-10 .elementor-element.elementor-element-6bcb4da1.elementor-view-framed .elementor-icon, .elementor-10 .elementor-element.elementor-element-6bcb4da1.elementor-view-default .elementor-icon{
    color:#000000;
    border-color:#000000;
}
.elementor-10 .elementor-element.elementor-element-6bcb4da1.elementor-position-right .elementor-icon-box-icon{
    margin-left:15px;
}
.elementor-10 .elementor-element.elementor-element-6bcb4da1.elementor-position-left .elementor-icon-box-icon{
    margin-right:15px;
}
.elementor-10 .elementor-element.elementor-element-6bcb4da1.elementor-position-top .elementor-icon-box-icon{
    margin-bottom:15px;
}
.elementor-10 .elementor-element.elementor-element-6bcb4da1 .elementor-icon{
    font-size:30px;
}
.elementor-10 .elementor-element.elementor-element-6bcb4da1 .elementor-icon i{
    transform:rotate(0deg);
}
.elementor-10 .elementor-element.elementor-element-6bcb4da1 .elementor-icon-box-wrapper{
    text-align:left;
}
.elementor-10 .elementor-element.elementor-element-6bcb4da1 .elementor-icon-box-title{
    margin-bottom:5px;
}
.elementor-10 .elementor-element.elementor-element-6bcb4da1 .elementor-icon-box-content .elementor-icon-box-title{
    color:#000000;
    font-size:25px;
    font-weight:600;
    text-transform:uppercase;
}
.elementor-10 .elementor-element.elementor-element-6bcb4da1 .elementor-icon-box-content .elementor-icon-box-description{
    color:#bfbfbf;
    font-size:15px;
    font-weight:300;
    line-height:1.6em;
}
.elementor-10 .elementor-element.elementor-element-6edbeaec.elementor-view-stacked .elementor-icon{
    background-color:#000000;
}
.elementor-10 .elementor-element.elementor-element-6edbeaec.elementor-view-framed .elementor-icon, .elementor-10 .elementor-element.elementor-element-6edbeaec.elementor-view-default .elementor-icon{
    color:#000000;
    border-color:#000000;
}
.elementor-10 .elementor-element.elementor-element-6edbeaec.elementor-position-right .elementor-icon-box-icon{
    margin-left:15px;
}
.elementor-10 .elementor-element.elementor-element-6edbeaec.elementor-position-left .elementor-icon-box-icon{
    margin-right:15px;
}
.elementor-10 .elementor-element.elementor-element-6edbeaec.elementor-position-top .elementor-icon-box-icon{
    margin-bottom:15px;
}
.elementor-10 .elementor-element.elementor-element-6edbeaec .elementor-icon{
    font-size:30px;
}
.elementor-10 .elementor-element.elementor-element-6edbeaec .elementor-icon i{
    transform:rotate(0deg);
}
.elementor-10 .elementor-element.elementor-element-6edbeaec .elementor-icon-box-wrapper{
    text-align:left;
}
.elementor-10 .elementor-element.elementor-element-6edbeaec .elementor-icon-box-title{
    margin-bottom:5px;
}
.elementor-10 .elementor-element.elementor-element-6edbeaec .elementor-icon-box-content .elementor-icon-box-title{
    color:#000000;
    font-size:25px;
    font-weight:600;
    text-transform:uppercase;
}
.elementor-10 .elementor-element.elementor-element-6edbeaec .elementor-icon-box-content .elementor-icon-box-description{
    color:#bfbfbf;
    font-size:15px;
    font-weight:300;
    line-height:1.6em;
}
.elementor-10 .elementor-element.elementor-element-6edbeaec > .elementor-widget-container{
    padding:35px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-1a801a31.elementor-view-stacked .elementor-icon{
    background-color:#000000;
}
.elementor-10 .elementor-element.elementor-element-1a801a31.elementor-view-framed .elementor-icon, .elementor-10 .elementor-element.elementor-element-1a801a31.elementor-view-default .elementor-icon{
    color:#000000;
    border-color:#000000;
}
.elementor-10 .elementor-element.elementor-element-1a801a31.elementor-position-right .elementor-icon-box-icon{
    margin-left:15px;
}
.elementor-10 .elementor-element.elementor-element-1a801a31.elementor-position-left .elementor-icon-box-icon{
    margin-right:15px;
}
.elementor-10 .elementor-element.elementor-element-1a801a31.elementor-position-top .elementor-icon-box-icon{
    margin-bottom:15px;
}
.elementor-10 .elementor-element.elementor-element-1a801a31 .elementor-icon{
    font-size:30px;
}
.elementor-10 .elementor-element.elementor-element-1a801a31 .elementor-icon i{
    transform:rotate(0deg);
}
.elementor-10 .elementor-element.elementor-element-1a801a31 .elementor-icon-box-wrapper{
    text-align:left;
}
.elementor-10 .elementor-element.elementor-element-1a801a31 .elementor-icon-box-title{
    margin-bottom:5px;
}
.elementor-10 .elementor-element.elementor-element-1a801a31 .elementor-icon-box-content .elementor-icon-box-title{
    color:#000000;
    font-size:25px;
    font-weight:600;
    text-transform:uppercase;
}
.elementor-10 .elementor-element.elementor-element-1a801a31 .elementor-icon-box-content .elementor-icon-box-description{
    color:#bfbfbf;
    font-size:15px;
    font-weight:300;
    line-height:1.6em;
}
.elementor-10 .elementor-element.elementor-element-1a801a31 > .elementor-widget-container{
    padding:35px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-59964381.elementor-view-stacked .elementor-icon{
    background-color:#000000;
}
.elementor-10 .elementor-element.elementor-element-59964381.elementor-view-framed .elementor-icon, .elementor-10 .elementor-element.elementor-element-59964381.elementor-view-default .elementor-icon{
    color:#000000;
    border-color:#000000;
}
.elementor-10 .elementor-element.elementor-element-59964381.elementor-position-right .elementor-icon-box-icon{
    margin-left:15px;
}
.elementor-10 .elementor-element.elementor-element-59964381.elementor-position-left .elementor-icon-box-icon{
    margin-right:15px;
}
.elementor-10 .elementor-element.elementor-element-59964381.elementor-position-top .elementor-icon-box-icon{
    margin-bottom:15px;
}
.elementor-10 .elementor-element.elementor-element-59964381 .elementor-icon{
    font-size:30px;
}
.elementor-10 .elementor-element.elementor-element-59964381 .elementor-icon i{
    transform:rotate(0deg);
}
.elementor-10 .elementor-element.elementor-element-59964381 .elementor-icon-box-wrapper{
    text-align:left;
}
.elementor-10 .elementor-element.elementor-element-59964381 .elementor-icon-box-title{
    margin-bottom:5px;
}
.elementor-10 .elementor-element.elementor-element-59964381 .elementor-icon-box-content .elementor-icon-box-title{
    color:#000000;
    font-size:25px;
    font-weight:600;
    text-transform:uppercase;
}
.elementor-10 .elementor-element.elementor-element-59964381 .elementor-icon-box-content .elementor-icon-box-description{
    color:#bfbfbf;
    font-size:15px;
    font-weight:300;
}
.elementor-10 .elementor-element.elementor-element-59964381 > .elementor-widget-container{
    padding:35px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-38fdba79 > .elementor-element-populated{
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-1b16c0d3 .elementor-image img{
    max-width:66%;
}
@media(max-width:1024px){
    .elementor-10 .elementor-element.elementor-element-71528b8a{
        padding:0px 20px 0px 20px;
    }
    .elementor-10 .elementor-element.elementor-element-338437b8 > .elementor-element-populated{
        margin:0px 10px 0px 0px;
        padding:0px 0px 0px 0px;
    }
    .elementor-10 .elementor-element.elementor-element-5cef6917{
        text-align:center;
    }
    .elementor-10 .elementor-element.elementor-element-7de9fe1d > .elementor-element-populated{
        margin:0px 5px 0px 5px;
    }
    .elementor-10 .elementor-element.elementor-element-19fdd31c{
        text-align:center;
    }
    .elementor-10 .elementor-element.elementor-element-41cf7ae4 > .elementor-element-populated{
        margin:0px 0px 0px 10px;
    }
    .elementor-10 .elementor-element.elementor-element-6d20db9e{
        text-align:center;
    }
    .elementor-10 .elementor-element.elementor-element-11daf8d{
        padding:15px 0px 0px 0px;
    }
    .elementor-10 .elementor-element.elementor-element-d34f06f > .elementor-element-populated{
        margin:0px 5px 0px 0px;
    }
    .elementor-10 .elementor-element.elementor-element-e3a24d8 > .elementor-element-populated{
        margin:0px 0px 0px 5px;
    }
    .elementor-10 .elementor-element.elementor-element-82a3514 > .elementor-element-populated{
        margin:0px 0px 0px 5px;
    }
    .elementor-10 .elementor-element.elementor-element-45c3660 > .elementor-element-populated{
        margin:0px 0px 0px 5px;
    }
    .elementor-10 .elementor-element.elementor-element-13736ef7{
        padding:100px 25px 100px 25px;
    }
    .elementor-10 .elementor-element.elementor-element-1b16c0d3 .elementor-image img{
        max-width:100%;
    }
}
@media(max-width:767px){
    .elementor-10 .elementor-element.elementor-element-338437b8 > .elementor-element-populated{
        margin:0px 0px 30px 0px;
    }
    .elementor-10 .elementor-element.elementor-element-5cef6917{
        text-align:center;
    }
    .elementor-10 .elementor-element.elementor-element-7de9fe1d > .elementor-element-populated{
        margin:0px 0px 30px 0px;
    }
    .elementor-10 .elementor-element.elementor-element-19fdd31c{
        text-align:center;
    }
    .elementor-10 .elementor-element.elementor-element-41cf7ae4 > .elementor-element-populated{
        margin:0px 0px 0px 0px;
    }
    .elementor-10 .elementor-element.elementor-element-6d20db9e{
        text-align:center;
    }
    .elementor-10 .elementor-element.elementor-element-d34f06f > .elementor-element-populated{
        margin:0px 0px 0px 0px;
    }
    .elementor-10 .elementor-element.elementor-element-307ec52 .elementor-image-box-img{
        margin-bottom:15px;
    }
    .elementor-10 .elementor-element.elementor-element-e3a24d8 > .elementor-element-populated{
        margin:30px 0px 0px 0px;
    }
    .elementor-10 .elementor-element.elementor-element-2731526 .elementor-image-box-img{
        margin-bottom:15px;
    }
    .elementor-10 .elementor-element.elementor-element-82a3514 > .elementor-element-populated{
        margin:30px 0px 0px 0px;
    }
    .elementor-10 .elementor-element.elementor-element-250002b .elementor-image-box-img{
        margin-bottom:15px;
    }
    .elementor-10 .elementor-element.elementor-element-45c3660 > .elementor-element-populated{
        margin:30px 0px 0px 0px;
    }
    .elementor-10 .elementor-element.elementor-element-41bba5c .elementor-image-box-img{
        margin-bottom:15px;
    }
    .elementor-10 .elementor-element.elementor-element-647af350{
        margin-top:0px;
        margin-bottom:0px;
        padding:0px 0px 0px 0px;
    }
    .elementor-10 .elementor-element.elementor-element-2904b937 > .elementor-element-populated{
        padding:50px 50px 50px 50px;
    }
    .elementor-10 .elementor-element.elementor-element-6266b2fd .elementor-heading-title{
        font-size:20px;
        line-height:1.3em;
    }
    .elementor-10 .elementor-element.elementor-element-6266b2fd > .elementor-widget-container{
        padding:15px 15px 15px 15px;
    }
    .elementor-10 .elementor-element.elementor-element-13736ef7{
        padding:50px 20px 50px 20px;
    }
    .elementor-10 .elementor-element.elementor-element-d544258 > .elementor-element-populated{
        padding:0px 0px 0px 0px;
    }
    .elementor-10 .elementor-element.elementor-element-6bcb4da1 .elementor-icon-box-icon{
        margin-bottom:15px;
    }
    .elementor-10 .elementor-element.elementor-element-6bcb4da1 .elementor-icon-box-wrapper{
        text-align:center;
    }
    .elementor-10 .elementor-element.elementor-element-6bcb4da1 .elementor-icon-box-content .elementor-icon-box-title{
        font-size:20px;
    }
    .elementor-10 .elementor-element.elementor-element-6edbeaec .elementor-icon-box-icon{
        margin-bottom:15px;
    }
    .elementor-10 .elementor-element.elementor-element-6edbeaec .elementor-icon-box-wrapper{
        text-align:center;
    }
    .elementor-10 .elementor-element.elementor-element-6edbeaec .elementor-icon-box-content .elementor-icon-box-title{
        font-size:20px;
    }
    .elementor-10 .elementor-element.elementor-element-1a801a31 .elementor-icon-box-icon{
        margin-bottom:15px;
    }
    .elementor-10 .elementor-element.elementor-element-1a801a31 .elementor-icon-box-wrapper{
        text-align:center;
    }
    .elementor-10 .elementor-element.elementor-element-1a801a31 .elementor-icon-box-content .elementor-icon-box-title{
        font-size:20px;
    }
    .elementor-10 .elementor-element.elementor-element-59964381 .elementor-icon-box-icon{
        margin-bottom:15px;
    }
    .elementor-10 .elementor-element.elementor-element-59964381 .elementor-icon-box-wrapper{
        text-align:center;
    }
    .elementor-10 .elementor-element.elementor-element-59964381 .elementor-icon-box-content .elementor-icon-box-title{
        font-size:20px;
    }
    .elementor-10 .elementor-element.elementor-element-38fdba79 > .elementor-element-populated{
        padding:25px 0px 0px 0px;
    }
    .elementor-10 .elementor-element.elementor-element-1b16c0d3 .elementor-image img{
        max-width:100%;
    }
}
@media(min-width:768px){
    .elementor-10 .elementor-element.elementor-element-d581f7c{
        width:71.579%;
    }
    .elementor-10 .elementor-element.elementor-element-e50c4f3{
        width:28.421%;
    }
    .elementor-10 .elementor-element.elementor-element-9f5eb64{
        width:72.018%;
    }
    .elementor-10 .elementor-element.elementor-element-bb46496{
        width:27.982%;
    }
    .elementor-10 .elementor-element.elementor-element-6523f14{
        width:72.018%;
    }
    .elementor-10 .elementor-element.elementor-element-79a972f{
        width:27.982%;
    }
    .elementor-10 .elementor-element.elementor-element-1306f29{
        width:72.018%;
    }
    .elementor-10 .elementor-element.elementor-element-9539d26{
        width:27.982%;
    }
    .elementor-10 .elementor-element.elementor-element-d544258{
        width:54.825%;
    }
    .elementor-10 .elementor-element.elementor-element-38fdba79{
        width:45.175%;
    }
}
